<!-- Basic layout for all other pages to inherit from -->
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Get the css styles from our styles.css style sheet. -->
        <link href="static/css/style.css" rel="stylesheet" media="screen">
    </head>
    <body>
        
        <div class="container">

            <!-- Content from child templates goes here. -->
            {% block content %}{% endblock %}

        </div>

    </body>
</html>