<!-- Basic layout for all other pages to inherit from -->
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Get the css styles from our styles.css style sheet. -->
        <link href="../static/css/style.css" rel="stylesheet" media="screen">
        <!-- Get the favicon from the favicon.ico file. -->
        <link rel="icon" type="image/png" href="../static/images/favicon.ico">
    </head>
    <body class="background-with-image">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Parkwood Vale Harriers</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    {% if user_login_form %}
                    <!-- Add a drop down for navigating between login and signup. -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('login.login') }}">Login</a></li>
                                <li><a href="{{ url_for('login.signup') }}">Sign Up</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- If we have the login form display it -->
                    <form class="navbar-form navbar-right" role="form" method="post" action="{{ url_for('login.login') }}">
                    {{ user_login_form.csrf_token }}
                        <div class="form-group">
                            {{ user_login_form.email(class="form-control",placeholder="email") }}
                            {{ user_login_form.password(class="form-control",placeholder="password") }}
                        </div>
                        <button type="submit" class="btn btn-blue">Sign In</button>
                    </form>
                    {% else %}
                    <!-- Otherwise just display a link to the login page. -->
                    <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('home.index') }}">Home</a></li>
                    </ul>
                    {% endif %}
                    
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container">

            <!-- Content from child templates goes here. -->
            {% block content %}{% endblock %}

            <nav class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container">
                <p class="navbar-text">&copy; Copyright Parkwood Vale Harriers 2015</p>
                <p class="navbar-text navbar-right"></p>
                
                   <!-- Display any flashed (generic messages) to the user. -->
                    {% for category, message in get_flashed_messages(with_categories=true) %}
                        <p class="navbar-text pull-right">
                            {% if category == 'error' %}
                            <span class="glyphicon glyphicon-exclamation-sign" style="color:#bb321f;" aria-hidden="true"></span>
                            {% else %}
                            <span class="glyphicon glyphicon-comment" style="color:#5cb85c;" aria-hidden="true"></span>
                            {% endif %}
                            {{ message }}
                        </p>
                    {% endfor %}
                </div>
            </nav>
        </div><!-- .container -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include Bootstrap JavaScript plugins. -->
        <script src="../static/js/bootstrap.min.js"></script>
    </body>
</html>