<!-- Display welcome page to the users. -->
{% extends 'layout.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2" style="text-align:center;padding-top:20px;">
    <div class="text-box">
    <h1>Welcome, Parkwood Vale Harriers</h1><br/>

    <p>Parkwood Vale Harriers Training Log lets you record your personal fitness data and analyses the results. Begin recording your exercise today and have a chance to run in the charity event. <a href="/signup">Sign Up</a> now. Existing member? <a href="/login">Login</a>.
    </p></div>
  </div><!-- .col-md-8 col-md-offset-8 -->
</div><!-- .row -->
{% endblock %}
