<!-- Display welcome page to the users. -->
{% extends 'layout.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2" style="text-align:center;padding-top:20px;">
    <h1>Welcome</h1><br/>
    <h2>Parkwood Vale Harriers</h2>

    <p>Parkwood Vale Harriers training log lets you record your personal fitness data and analyses the results. Begin recording your exercise today and have a chance to run in the charity event. <a href="/signup">Sign Up</a> now. Existing member? <a href="/login">Login</a>.
    </p>
  </div><!-- .col-md-4 col-md-offset-4 -->
</div><!-- .row -->
{% endblock %}
