<!-- Display welcome page to the users. -->
{% extends 'layout.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2" style="text-align:center;padding-top:20px;">
    <h1>Welcome</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eleifend rhoncus dui, a lacinia arcu rhoncus eu. Nunc aliquam ut risus sed venenatis. Duis sollicitudin finibus turpis. Morbi sed fermentum metus. Morbi sagittis purus vestibulum orci tempor vehicula. Duis arcu magna, fringilla vitae odio malesuada, ultricies ultrices nibh. Vivamus pharetra consequat nisi, id viverra ante. Suspendisse erat purus, venenatis ut justo a, congue auctor felis. Pellentesque vehicula lorem et arcu efficitur malesuada sed id tortor. Phasellus sed lacinia lectus. Proin scelerisque mollis tincidunt. Sed urna turpis, blandit ac dolor a, suscipit sodales lacus. Sed vestibulum, tellus quis interdum aliquet, quam mi aliquam tellus, ut feugiat massa orci rutrum enim.
    </p>

    <p>Aliquam ante purus, efficitur vel enim at, convallis porttitor ante. Donec dapibus tortor non dui congue blandit. Duis non placerat libero. Suspendisse sapien erat, aliquam a vulputate id, egestas sit amet massa. Mauris sed ultricies diam. Suspendisse ut volutpat metus, et pellentesque felis. Maecenas placerat congue congue. Maecenas lobortis nisl vitae eros sollicitudin semper. Sed ullamcorper id nunc id cursus. Donec eget tortor at leo rutrum ullamcorper id tincidunt nibh. Sed ullamcorper hendrerit urna et dapibus.
    </p>
  </div><!-- .col-md-4 col-md-offset-4 -->
</div><!-- .row -->
{% endblock %}
