<!-- Form to add swimming. -->
<form role="form" method="post" action="{{ url_for('exercise.add_swimming') }}">
    {{ add_swimming_form.csrf_token }}
    <div class="form-group">
        <label>Exercise Level</label>
        {{ add_swimming_form.exercise_level(class="form-control") }}
        {% for error in add_swimming_form.exercise_level.errors %}
            <span class="glyphicon glyphicon-exclamation-sign" style="color:#bb321f;" aria-hidden="true"></span>
            {{ error }}
        {% endfor %}
    </div>
    <div class="form-group">
        {{ add_swimming_form.duration(class="form-control",placeholder="Duration") }}
        {% for error in add_swimming_form.duration.errors %}
            <span class="glyphicon glyphicon-exclamation-sign" style="color:#bb321f;" aria-hidden="true"></span>
            {{ error }}
        {% endfor %}
    </div>
    <button class="btn btn-blue" type="submit">Add Exercise</button>
</form>