<!-- Display compare page to the users. -->
{% extends 'dashboard_layout.html' %}
{% block title %}Compare Exercise{% endblock %}
{%block breadcrumb %}
<li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
<li><a href="{{ url_for('exercise.index') }}">Exercise</a></li>
<li class="active">Compare Exercise</li>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12" style="padding-top:20px;">
    <div class="text-box">
        <a href="{{ url_for('exercise.index') }}">Back</a>

            <!-- Display compare form if there is not data (i.e. the request was GET.) -->
            <div class="page-header">
                <h1><small>Compare Members</small></h1>
                <p>You can use this form to compare the all time performance of two members.</p>
            </div>
            <form role="form" class="form-inline" method="post" action="{{ url_for('exercise.compare') }}">
                {{ compare_form.csrf_token }}
                <div class="form-group" style="margin-right:5px;">
                    <label>Member 1</label>
                    {{ compare_form.compare_member_1(class="form-control") }}
                    {% for error in compare_form.compare_member_1.errors %}
                        <span class="glyphicon glyphicon-exclamation-sign" style="color:#bb321f;" aria-hidden="true"></span>
                        {{ error }}
                    {% endfor %}
                </div>
                <div class="form-group" style="margin-left:5px;">
                    <label>Against Member 2</label>
                    {{ compare_form.compare_member_2(class="form-control") }}
                    {% for error in compare_form.compare_member_2.errors %}
                        <span class="glyphicon glyphicon-exclamation-sign" style="color:#bb321f;" aria-hidden="true"></span>
                        {{ error }}
                    {% endfor %}
                </div>
                <button class="btn btn-blue" type="submit">Compare Members</button>
            </form>


            {% if compare_member_1_data and compare_member_2_data %}
            <div class="page-header">
                <h1>Compare All Exercise</h1>
            </div>

            <!-- Comparisons password -->
            <table class="table table-hover">
                <tr>
                    <th>Member:</th>
                    <td>{{compare_member_1_data["name"]}}</td>
                    <td></td>
                    <td>{{compare_member_2_data["name"]}}</td>
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <th>Time</th>
                    <th>Calories</th>
                    <th>Time</th>
                    <th>Calories</th>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td>{{compare_member_1_data["total_time"]}} Hour(s)</td>
                    <td>{{compare_member_1_data["total_cals"]}} Calorie(s)</td>
                    <td>{{compare_member_2_data["total_time"]}} Hour(s)</td>
                    <td>{{compare_member_2_data["total_cals"]}} Calorie(s)</td>
                </tr>
                <tr>
                    <th>Running:</th>
                    <td>{{compare_member_1_data["running_time"]}} Hour(s)</td>
                    <td>{{compare_member_1_data["running_cals"]}} Calorie(s)</td>
                    <td>{{compare_member_2_data["running_time"]}} Hour(s)</td>
                    <td>{{compare_member_2_data["running_cals"]}} Calorie(s)</td>
                </tr>
                <tr>
                    <th>Cycling:</th>
                    <td>{{compare_member_1_data["cycling_time"]}} Hour(s)</td>
                    <td>{{compare_member_1_data["cycling_cals"]}} Calorie(s)</td>
                    <td>{{compare_member_2_data["cycling_time"]}} Hour(s)</td>
                    <td>{{compare_member_2_data["cycling_cals"]}} Calorie(s)</td>
                </tr>
                <tr>
                    <th>Swimming:</th>
                    <td>{{compare_member_1_data["swimming_time"]}} Hour(s)</td>
                    <td>{{compare_member_1_data["swimming_cals"]}} Calorie(s)</td>
                    <td>{{compare_member_2_data["swimming_time"]}} Hour(s)</td>
                    <td>{{compare_member_2_data["swimming_cals"]}} Calorie(s)</td>
                </tr>
            </table>

            {% endif %}

    </div><!-- .text-box -->
  </div><!-- .col-md-12 -->
</div><!-- .row -->
{% endblock %}