<!-- Display add exercise page to the users. -->
{% extends 'dashboard_layout.html' %}
{% block title %}Add New Exercise{% endblock %}
{%block breadcrumb %}
<li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
<li class="active">Exercise</li>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2" style="padding-top:20px;">
    <div class="text-box">
        <a href="{{ url_for('dashboard.dashboard') }}">Back</a>
        <div class="page-header">
            <h1>My Exercise
                <small>Add Exercise</small>
            </h1>
            <p>Here you can add new exercise events.</p>
        </div>
        <!-- Forms -->
        <div class="row">
            <div class="col-md-4">
                <h1>Swimming</h1>
                {% include 'add_swimming_form.html' %}
            </div>
            
            <div class="col-md-4">
                <h1>Running</h1>
                {% include 'add_running_form.html' %}
            </div>
            <div class="col-md-4">
                <h1>Cycling</h1>
                {% include 'add_cycling_form.html' %}
            </div>
        </div>

        <!-- Display compare form -->
        <div class="page-header">
            <h1><small>Compare Members</small></h1>
            <p>You can use this form to compare the all time performance of two members.</p>
        </div>
        <form role="form" class="form-inline" method="post" action="{{ url_for('exercise.compare') }}">
            {{ compare_form.csrf_token }}
            <div class="form-group" style="margin-right:5px;">
                <label>Compare Member 1</label>
                {{ compare_form.compare_member_1(class="form-control") }}
                {% for error in compare_form.compare_member_1.errors %}
                    <span class="glyphicon glyphicon-exclamation-sign" style="color:#bb321f;" aria-hidden="true"></span>
                    {{ error }}
                {% endfor %}
            </div>
            <div class="form-group" style="margin-left:5px;">
                <label>Compare Member 2</label>
                {{ compare_form.compare_member_2(class="form-control") }}
                {% for error in compare_form.compare_member_2.errors %}
                    <span class="glyphicon glyphicon-exclamation-sign" style="color:#bb321f;" aria-hidden="true"></span>
                    {{ error }}
                {% endfor %}
            </div>
            <button class="btn btn-blue" type="submit">Compare Members</button>
        </form>

        <!-- Display recent exercise -->
        <div class="page-header">
            <h1><small>Recent Exercise</small></h1>
            <p>Here are your last ten exercise events.</p>
        </div>
        
        <!-- Show the last 3 entries -->
        <table class="table table-hover">
            <tr>
                <th>Date</th>
                <th>Exercise</th>
                <th>Duration</th>
                <th>Calories Burned</th>
            </tr>
            {% for data in exercise_data[:3] %}
            <tr>
                <td><a href="{{ url_for('exercise.view_exercise',exercise_id=data.id) }}">{{ data.get_date() }}</a></td>
                <td>{{ data.get_exercise() }}</td>
                <td>{{ data.exercise_duration }} Hour(s)</td>
                <td>{{ data.calories_burned }} Calories</td>
            </tr>
            {% endfor %}
        </table>


        <!-- If there is more than 3 items display the more section. -->
        {% if exercise_data[3:] %}
        <button class="btn btn-blue" type="button" data-toggle="collapse" data-target="#all_data_collapse" aria-expanded="false" aria-controls="all_data_collapse">
            More...
        </button>

        <!-- The rest of exercise data hidden in a collapse. -->
        <div class="collapse" id="all_data_collapse" style="margin-top:10px;">
            <div class="well">
                <table class="table table-hover">
                    <tr>
                        <th>Date</th>
                        <th>Exercise</th>
                        <th>Duration</th>
                        <th>Calories Burned</th>
                    </tr>
                    {% for data in exercise_data[3:] %}
                    <tr>
                        <td><a href="{{ url_for('exercise.view_exercise',exercise_id=data.id) }}">{{ data.get_date() }}</a></td>
                        <td>{{ data.get_exercise() }}</td>
                        <td>{{ data.exercise_duration }} Hour(s)</td>
                        <td>{{ data.calories_burned }} Calories</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
        
    </div><!-- .text-box -->
  </div><!-- .col-md-8 col-md-offset-2 -->
</div><!-- .row -->
{% endblock %}