<!-- Display View page to the users. -->
{% extends 'dashboard_layout.html' %}
{% block title %}View Exercise{% endblock %}
{%block breadcrumb %}
<li><a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a></li>
<li><a href="{{ url_for('exercise.index') }}">Exercise</a></li>
<li class="active">View Exercise</li>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2" style="padding-top:20px;">
    <div class="text-box">
        <a href="{{ url_for('exercise.index') }}">Back</a>
        
        {% if exercise %}
            <!-- If there is a single event -->
            <div class="page-header">
                <h1>{{member.get_firstname()}}'s Exercise<br/>
                <small>Event ID = {{exercise.id}}</small></h1>
            </div>
            <table class="table table-hover">
                <tr>
                    <th>Date:</th>
                    <th>Exercise:</th>
                    <th>Duration:</th>
                    <th>Calories Burned:</th>
                    <th>Member:</th>
                </tr>
                <tr>
                    <td><a href="{{ url_for('exercise.view_exercise',exercise_id=exercise.id) }}">{{ exercise.get_date() }}</a></td>
                    <td>{{ exercise.get_exercise() }}</td>
                    <td>{{ exercise.exercise_duration }} Hour(s)</td>
                    <td>{{ exercise.calories_burned }} Calories</td>
                    <td>{{ exercise.get_member_name() }}</td>
                </tr>
            </table>

            {% if member == current_user %}
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editExerciseModal">Edit Exercise</button>

            <!-- Edit Exercise Modal -->
            <div class="modal fade" id="editExerciseModal" tabindex="-1" role="dialog" aria-labelledby="Edit Exercise" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Edit Exercise</h4>
                        </div>
                        <div class="modal-body">
                            <form id="editExerciseForm" class="form-down" role="form" method="post" action="{{ url_for('exercise.edit_exercise') }}">
                                {{ edit_exercise_form.csrf_token }}
                                <p>
                                Please amend the exercise details and click 'save changes' when done.
                                </p>
                                <!-- Hidden field for the exercise ID -->
                                {{ edit_exercise_form.exercise_id(type="hidden",value=exercise.id) }}
                                <p>
                                    <label>Exercise:</label>
                                    <input type="text" class="form-control" value="{{ exercise.get_exercise() }}" disabled>
                                </p>
                                <p>
                                    <label>Calories Burned:</label>
                                    <input type="text" class="form-control" value="{{ exercise.calories_burned }}" disabled>
                                </p>
                                <p>
                                    <label>Duration:</label>
                                    {{ edit_exercise_form.duration(class="form-control",value=exercise.exercise_duration) }}
                                </p>
                                <div class="alert alert-danger" role="alert">
                                    <p> 
                                        {{ edit_exercise_form.delete }} <label>Delete this exercise event.</label>
                                    </p>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-blue" type="submit" onclick=" $('#editExerciseForm').submit();">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div><!-- editExerciseModal -->
            {% endif %}

            <!-- All Exercise with single event. -->
            <div class="page-header">
                <h1><br/><small>All Exercise</small></h1>
            </div>
        {% else %}
            <!-- All Exercise without single event.-->
            <div class="page-header">
                <h1>{{member.get_firstname()}}'s Exercise<br/>
                <small>All Exercise</small></h1>
            </div>
        {% endif %}

        
        <table class="table table-hover">
            <tr>
                <th>Date:</th>
                <th>Exercise:</th>
                <th>Duration:</th>
                <th>Calories Burned:</th>
                <th>Member:</th>
            </tr>
            {% for data in all_exercise_data %}
            <tr>
                <td><a href="{{ url_for('exercise.view_exercise',exercise_id=data.id) }}">{{ data.get_date() }}</a></td>
                <td>{{ data.get_exercise() }}</td>
                <td>{{ data.exercise_duration }} Hour(s)</td>
                <td>{{ data.calories_burned }} Calories</td>
                <td>{{ data.get_member_name() }}</td>
            </tr>
            {% endfor %}
        </table>

    </div><!-- .text-box -->
  </div><!-- .col-md-8 col-md-offset-2 -->
</div><!-- .row -->
{% endblock %}