/* Basic CSS styles for our site. */

/* Import style from bootstrap styles */
@import url('bootstrap.min.css');

/* General body styling */
body { 
    /* Padding for the NavBars */
    padding-top: 70px; 
    padding-bottom: 70px; 
}

.background-with-image{
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center{
    text-align: center;
}

/* Custom text boxes with drop shadow. */
.text-box{
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    background-color:#fff;
    padding:20px;
}
/* Custom buttons which extend the bootstrap buttons design. */
.btn-blue{
    background-color: #3fa9f5;
    color: #ffffff;
}

.btn-blue:hover{
    background-color: #66CCFF;
    color: #ffffff;
}

/* Classes for all forms */
.input-top{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.input-middle{
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.input-bottom{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Form Down */
.form-down{
    max-width: 800px
    padding: 15px;
    margin: 0 auto;
}

.form-down .row .col-md-6, .col-md-12{
    padding-bottom: 10px;
}
.form-down .form-control:focus {
  z-index: 2;
}
.form-down .form-control{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

/* Breadcrumbs */
#navbar-breadcrumb{
    margin: 7px;
    background-color:transparent;
}

/* Canvas */
canvas {
    width: 100% !important;
    max-width: 800px;
    height: auto !important;
}