<!-- Display login form to the users. -->
{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4" style="text-align:center;padding-top:20px;">
    <h1>Please Login.</h1>
    <p>A login is required to access the site.</p>
    <form class="form-down" role="form" method="post" action="">
      {{ user_login_form.csrf_token }}

        <!-- If there is an error display it to the user. -->
        {% if error %}
          <p class="alert alert-danger">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              {{ error }}
          </p>
        {% endif %}
        
        {{ user_login_form.email(class="form-control input-top",placeholder="email") }}
        {% for error in user_login_form.email.errors %}
          <p>
          <span class="glyphicon glyphicon-exclamation-sign" style="color:#bb321f;" aria-hidden="true"></span>
          {{ error }}
          </p>
        {% endfor %}

        {{ user_login_form.password(class="form-control input-bottom",placeholder="password") }}
        {% for error in user_login_form.password.errors %}
          <p>
            <span class="glyphicon glyphicon-exclamation-sign" style="color:#bb321f;" aria-hidden="true"></span>
            {{ error }}
          </p>
        {% endfor %}
        <p>{{ user_login_form.remember }} Remember Me</p>
        
      <button class="form-control btn btn-sm btn-blue" type="submit">Sign in</button>
    </form>
  </div><!-- .col-md-4 col-md-offset-4 -->
</div><!-- .row -->
{% endblock %}
